{%extends 'base.html'%}
{%block content%}
<hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center">
      <div class="w-100">
        <h2 class="mb-5">New york city Motor Vehicle Collision Forecast</h2>
        <p class="mb-5"><b>Sometimes when I drive, the traffic flow stops because of car collisions on the road. 
						   I feel sorry for the people who unfortunately got involved in the crash accident, 
						   not only for their physical pain but also for the damage and the time they loose. 
						   Motor vehicle collisions are a leading cause of injury in the US —they are harmful and expensive.</b></p>
        <p class="mb-5"><b>So I asked myself the following question: what can I do to prevent or forecast crash injuries? 
						   Why don’t I use a machine learning model to forecast motor vehicle collision in NYC.</b></p>
		<p class="mb-5"><b>Here is my application that uses a time series forecasting model to predict motor vehicle collision numbers 
					       for the 5 boroughs in NYC. The data is updated weekly. Therefore, If you input any day in the last week, 
						   the application uses historic data to predict collision numbers for the week later.</b></p>
      </div>
    </section>
{%endblock%}