{%extends 'base.html'%}
{%block content%}
<hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center">
      <div class="w-100">
        <h2 class="mb-5">New york city Motor Vehicle Collision Forecast</h2>
        <p class="mb-5"><b>When I drive, sometimes the traffic flow stops because there are car collisions ahead. I feel sorry for people who unfortunately get involved
			  in the crash accident not only the pain but also the damage and time lose. Motor vehicle collisions are a leading cause of injury in the US --harmful and
			  expensive.</b></p>
        <p class="mb-5"><b>So questions come to me: what can I do to prevent or forecast the crash injuries?
						   Why don't I use machine learning model to forecast the motor vehicle collision in NYC?</b></p>
		<p class="mb-5"><b>Here is the application. In the application, Time series forecasting model is used to predict the motor vehicle collision
						   numbers for the 5 boroughs in NYC. The data is updated weekly. Therefore, If you input any day in the last week, the application uses 
						   the collision numbers happened that day to predict collison numbers one week later.</b></p>
      </div>
    </section>
{%endblock%}